/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.overlay-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);

  align-items: center;
  justify-content: center;

  /* img {
    height: 25rem;
  } */
}

body {
  background-color: #939597;
}

.App-header {
  background-color: #939597;
  /* min-height: 100vh; */
  display: flex;
}

.dash {
  background-color: white;
  /* min-height: 100vh; */
  display: flex;
}

.general-top-bar {
  height: 60;
  justify-content: center;

}

.topbar-toolbar {
  display: flex;
  justify-content: space-between;
  color: #E5A823;
  background-color: #0055A2;
}

.topbar-buffer {
  margin-top: 70px;
}

.map-container {
  background-color: white;
  width: 100vh;
  height: 100vh;
  margin: 1vh 0 10vh 0;
}

.grid-center {
  display: flex;
  align-items: center;
}

.lightning-table {
  background-color: #0055A2;
  height: 40vh;
  display: flex;
  margin: 40vh 5vh 40vh 5vh;
  padding: 0px 16px 0px 16px;
  color:#E5A823 ;
}


